<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FIS-ReactJS 简书Demo</title>
        <meta charset="utf-8">
        <style>
            .container{padding:50px}
        </style>
    </head>
    <body>
        <div id="app" class="container">
        </div>
        <!-- inject:manifest -->
        <!-- endinject --> 
    </body>
</html>